<header class="container mx-auto py-6 px-4 flex items-center justify-between">
  <div class="flex items-center gap-2">
    <img src="../assets/VortexMin.svg" class="h-[2.5rem]" />
    <span class="text-2xl vortext">VORTEX</span>
  </div>
  <nav class="hidden md:flex items-center gap-8">
    <a href="#services" class="hover:text-[#F27F1B] transition-colors">
      Servicios
    </a>
    <a href="#about" class="hover:text-[#F27F1B] transition-colors">
      Nosotros
    </a>
    <a href="#projects" class="hover:text-[#F27F1B] transition-colors">
      Proyectos
    </a>
    <a href="#testimonials" class="hover:text-[#F27F1B] transition-colors">
      Testimonios
    </a>
    <a href="#contact" class="hover:text-[#F27F1B] transition-colors">
      Contacto
    </a>
  </nav>
  <button
    class="bg-[#D91A2A] hover:bg-[#A60D1A] text-white px-4 py-2 rounded-md"
  >
    Contáctanos
  </button>
</header>
